<div class="wrapper">
  


<div class="element">

  <div class="coordinates">
    
  <table>
    <thead>
      <tr>
        <th>Lat</th>
        <th>Lon</th>
        <th>Accuracy</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
      </tr>
    </tbody>
  </table>



  </div>


  <button class="btn-generate" type="button">Generate</button>

</div>




<div class="element right">

  <ui-gmap-google-map 
    center='map.center'
    zoom='map.zoom'>
  </ui-gmap-google-map>

</div>





</div>
